<template >
  <div @click="clickCell" :class="{grade, cellX:player==='X', cellO:player==='O'}">{{ player }}</div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'],
  methods: {
    clickCell (event) {
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }
}
</script>
<style>
.cellX{
  color: rgb(46, 212, 5);
  font-size: 30pt;
}
.cellO{
  color: rgb(245, 75, 8);
  font-size: 30pt;
}
.grade {
  background-color: rgb(228, 213, 8);
}
</style>
