<template lang="">
  <div>
    <div v-if="count === 9 || winner !== '-'">
      <div v-if="winner !== '-'">{{ winner }} Win !!! <br /></div>
      <div v-else>Draw !!! <br /></div>
      <button @click="newGame">New Game</button><br />
    </div>
    <div v-if="count !== 9 && winner === '-'">{{ turn }} turn</div>
    <br />
    <table>
      <tr v-for="(line, lineID) in table" :key="lineID">
        <td v-for="(item, itemID) in line" :key="itemID">
          <OXCell
            :player="item"
            :row="lineID"
            :col="itemID"
            :grade="gradetable[lineID][itemID]"
            @cell-click="cellClick"
          />
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import OXCell from '../components/OXCell.vue'
export default {
  data () {
    return {
      count: 0,
      turn: 'O',
      finish: false,
      winner: '-',
      table: [
        ['-', '-', '-'],
        ['-', '-', '-'],
        ['-', '-', '-']
      ],
      gradetable: [
        [false, false, false],
        [false, false, false],
        [false, false, false]
      ]
    }
  },
  methods: {
    newGame () {
      this.count = 0
      this.turn = 'O'
      this.finish = false
      this.winner = '-'
      this.randomPlayer()
      this.table = [
        ['-', '-', '-'],
        ['-', '-', '-'],
        ['-', '-', '-']
      ]
      this.gradetable = [
        [false, false, false],
        [false, false, false],
        [false, false, false]
      ]
    },
    cellClick (row, col) {
      if (this.winner !== '-') {
        return
      }
      console.log(row + '   ' + col)
      this.table[row][col] = this.turn
      this.count++
      if (
        this.checkRow(row) ||
        this.checkCol(col) ||
        this.checkX1() ||
        this.checkX2()
      ) {
        console.log('win')
        this.finish = true
        this.winner = this.turn
        return
      }
      if (this.count === 9) {
        return
      }
      this.switchTurn()
    },
    switchTurn () {
      if (this.turn === 'O') {
        this.turn = 'X'
      } else {
        this.turn = 'O'
      }
    },
    randomPlayer () {
      if (Math.floor(Math.random() * 100) % 2 === 0) {
        this.turn = 'O'
      } else {
        this.turn = 'X'
      }
    },
    checkWin (row, col) {
      if (
        this.checkRow(row) ||
        this.checkCol(col) ||
        this.checkX1() ||
        this.checkX2()
      ) {
        return true
      }
      return false
    },
    checkRow (row) {
      for (let col = 0; col < 3; col++) {
        if (this.table[row][col] !== this.turn) {
          return false
        }
      }
      for (let col = 0; col < 3; col++) {
        this.gradetable[row][col] = true
      }
      return true
    },
    checkCol (col) {
      for (let row = 0; row < 3; row++) {
        if (this.table[row][col] !== this.turn) {
          return false
        }
      }
      for (let row = 0; row < 3; row++) {
        this.gradetable[row][col] = true
      }
      return true
    },
    checkX1 () {
      for (let i = 0; i < 3; i++) {
        if (this.table[i][i] !== this.turn) {
          return false
        }
      }
      for (let i = 0; i < 3; i++) {
        this.gradetable[i][i] = true
      }
      return true
    },
    checkX2 () {
      for (let i = 0; i < 3; i++) {
        if (this.table[i][2 - i] !== this.turn) {
          return false
        }
      }
      for (let i = 0; i < 3; i++) {
        this.gradetable[i][2 - i] = true
      }
      return true
    }
  },
  components: {
    OXCell
  },
  mounted () {
    this.randomPlayer()
  }
}
</script>
<style>
table {
  margin-left: auto;
  margin-right: auto;
  border: 1pt solid black;
}
td {
  text-align: center;
  vertical-align: middle;
  width: 50pt;
  height: 50pt;
}
</style>
